{% extends "base.html.twig" %}
{% block title %} {{ parent() }} | Détail {% endblock %}

    {% block body %}

        <div>
            <p> Evénement : {{ event.title }}</p>
            <p> Informations : {{ event.infosEvent }}</p>
            <p> Adresse : {{ event.address }}</p>
            <p> {{ event.nbMaxInsc}} Personnnes maximum</p>
            <p> Durée de l'événement : {{ event.time | date ('H:i')}} </p>
            <p> Commence le : {{ event.dateD | date }}</p>
            <p> Limite d'enregistrement : {{ event.limiteDate | date }}</p>
            <p> Status : {{ event.status.name }}</p>
            <p> Organisateur : {{ event.organizer.pseudo }}</p>


        </div>
    {% endblock %}