{% extends "base.html.twig" %}
{% block title %} {{ parent() }} | Détail {% endblock %}

    {% block body %}

        <div>
            <p>Event : {{ event.title }}</p>
            <p> Informations : {{ event.infosEvent }}</p>
            <p>Address :{{ event.address }}</p>
            <p>{{ event.nbMaxInsc }} persons max</p>
            <p> Time of the event: {{ event.time | date ('H:i') }} </p>
            <p> Begin : {{ event.dateD | date }}</p>
            <p> Limit of registration : {{ event.limiteDate | date }}</p>
            <p> Status : {{ event.status.name }}</p>
            <p> Organizer : {{ event.organizer.pseudo }}</p>

            {% if event.status.name is same as ("Canceled") %}
            <p>Motif : {{ event.cancellationReason }}</p>
            {% endif %}


            {#     AJOUT DES PROFILS PARTICIPANTS     #}

            {# Trouver un moyen de ne mettre les participants qu'en une seule ligne et non pas au nombres de lignes de participants #}
{#            Faire un affichage dans un tableau?#}

            {% for ep in event.users %}
                {% if event.users.count > 1 %}
                    <p> Il y a {{ ep.pseudo }} qui participent à l'event!</p>
                {% else %}
                    <p> Il y a {{ ep.pseudo }} qui participe à l'event!</p>
                {% endif %}
            {% endfor %}


        </div>
    {% endblock %}