<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>

<header>
    {% block header %}
        <nav>
            <li><a href="{{ path('_home') }}">Home</a></li>

            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                <li><a href="{{ path('_profil') }}" >Profil</a></li>
            {% endif %}
            {% if not app.user %}
                <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}


        </nav>
    {% endblock %}
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    {% block footer %}{% endblock %}
</footer>

</body>
</html>
