<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HappEvent{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/listeEvent.css') }}">
    {% block stylesheets %}
        {#            {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    {#    si je créer le %block header c'est pour le faire que dans 1 et une seule page #}

    <div class="main-container">

        <div class="logo">
{#            <img src="{{ asset('images/logoGSF.png') }}" class="logo">#}
        </div>



        <nav class="navMenu">

                    <a href="{{ path('app_home') }}" class="nav">Home</a>

                    {% if app.user %}

                        <a href="{{ path('app_listeEvents') }}" class="nav">Events</a>
                        <a href="{{ path('app_create') }}" class="nav">Create event</a>
                        <a href="{{ path('app_logout') }}">Logout</a>
                        <a href="{{ path('_profil') }}">Profil</a>
                        <a href="{{ path('_city') }}" >Add City</a>
                        <a href="{{ path('_place') }}" >Add Place</a>
                        <a href="{{ path('_campus') }}" >Add Campus</a>

                    {% endif %}

                    {% if not app.user %}

                        <a href="{{ path('app_register') }}">S'enregistrer</a>
                        <a href="{{ path('app_login') }}">Login</a>

                    {% endif %}

            <div class="dot"></div>
        </nav>
    </div>
</header>
{% block body %}{% endblock %}
</body>
</html>