<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Eni-Sortie{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('build/base.css') }}">
    <link rel="stylesheet" href="{{ asset('build/formCreatEvent.css') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header>
    {#    si je crée le %block header c'est pour le faire que dans une et une seule page #}

    <div class="titre">
        <h1>Eni-Sortie</h1>
    </div>

    <div class="menuNav">
        <nav class="menu">

                    <a href="{{ path('app_home') }}" class="nav">
                        <button class="btn btn-outline btn-accueil">Accueil</button>
                    </a>
                    <a href="{{ path('app_listeEvents') }}" class="nav">
                        <button class="btn btn-outline btn-evenements">Evénements</button>
                    </a>
                    <a href="{{ path('app_create') }}" class="nav">
                        <button class="btn btn-outline btn-creer">Créer un événement</button>
                    </a>

                    {% if app.user %}

                        <a href="{{ path('app_logout') }}">
                            <button class="btn btn-deconnexion">Déconnexion</button>
                        </a>
                        <a href="{{ path('_profil') }}">
                            <button class="btn btn-outline btn-profil">Profil</button>
                        </a>

                    {% endif %}

                    {% if not app.user %}

                        <a href="{{ path('app_register') }}">
                            <button class="btn btn-outline btn-senregistrer">S'enregistrer</button>
                        </a>
                        <a href="{{ path('app_login') }}">
                            <button class="btn btn-outline btn-seconnecter">Se connecter</button>
                        </a>

                    {% endif %}

        </nav>
    </div>

</header>
{% block body %}{% endblock %}
</body>
</html>