{% extends 'base.html.twig' %}



{% block title %}
    <h1>Liste of events</h1>
{% endblock %}

{% block body %}

    <div class="fbc">
        <p> Find By Campus </p>

        <select name="Campus" id="Campus">

            <optgroup label="Choose Your Campus">
                {% for c in campusFilter %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
        </select>
    </div>

    <div class="contentName">

        {% set arrayHeader = ["Name", "Status","Place"," Date of the event"," Registered ","Deadline for subscription","Campus","Actions"] %}
        {% for value in arrayHeader %}
            <div style="grid-column: {{ loop.index }}; grid-row: 1; background-color: #BA5C12">

                {{ value }}
            </div>

        {% endfor %}

        {% for event in events %}

            {#                name #}
            <div class="nameContent" style="grid-row:{{ loop.index +1 }}">
                <a href="{{ path('_detail',  {'event': event.id}) }}">{{ event.title }} </a>
            </div>

            {#                place #}
            <div class="placeContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.users.count }}/{{ event.nbMaxInsc }}
            </div>

            {# status  #}
            <div class="statusContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.status.name }}
            </div>
            {#                dateD #}
            <div class="dateDContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.dateD |  date('Y-m-d h:m') }}
            </div>
            {#                Registerd #}
            <div class="registeredContent" style="grid-row:{{ loop.index +1 }}">

                {#                {% if event.users is empty %} #}
                {#                    <p>NO</p> #}
                {#                {% else %} #}
                {#                    <p>YES</p> #}
                {#                {% endif %} #}

                {#                {% if event.users is same as (user.id) %} #}
                {#                    <p>YES U'RE REGISTERED</p> #}
                {#                {% else %} #}
                {#                    <p>NO U'RE NOT</p> #}
                {#                {% endif %} #}

                {#                {% if user.id is same as events.user %} #}
                {#                    <p>YES U'RE REGISTERED</p> #}
                {#                {% else %} #}
                {#                    <p>NO U'RE NOT</p> #}
                {#                {% endif %} #}

                {#                {% for u in user.id %} #}
                {#                    {% if u is same as events.user.id %} #}
                {#                    <p>YES U'RE REGISTERED</p> #}
                {#                {% else %} #}
                {#                    <p>NO U'RE NOT</p> #}
                {#                    {% endif %} #}
                {#                {% endfor %} #}

                {% if app.user in event.users %}
                    <p style="color: forestgreen"> V </p>
                {% else %}
                    <p style="color: #BA5C12"> X </p>
                {% endif %}



            </div>
            {#                deadline #}
            <div class="deadlineContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.limiteDate|  date('Y-m-d h:m') }}
            </div>
            {# campus #}
            <div class="campusContent" style="grid-row:{{ loop.index +1 }}">
                <a href="{{ path('_tri', {'campus': event.campus.id}) }}">{{ event.campus.name }}</a>
            </div>
            {#                actions #}
            <div class="actionsContent" style="grid-row:{{ loop.index +1 }}">

                {% if event.dateD > "now" | date('Y-m-d') and event.status.name is same as ("Open") and event.organizer is not same as (user) %}

                    {% if event.Users.contains(user) %}

                        <a href="{{ path('_unRegisterForEvent', {'event': event.id}) }}">
                            <input type="button" value="Unsubscribe to event"></a>

                    {% endif %}

                    {% if event.NbMaxInsc > event.Users.count and not event.Users.contains(user) and event.LimiteDate > "now"| date('Y-m-d') %}

                        <a href="{{ path('_registerForEvent', {'event': event.id}) }}">
                            <input type="button" value="Subscribe to event"></a>
                    {% endif %}

                {% endif %}
            </div>

            <div class="cancelButton" style="grid-row:{{ loop.index +1 }}">
                {% if event.organizer is same as (user) and event.status.name is same as ("Open") %}
                    <button class="px-8 py-1 text-sm bg-gray-900 rounded-md">
                        <svg class="w-8 h-8 text-gray-300 hover:text-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg
          stroke-width=" 1
                        " stroke="currentColor">
                        <path
                                d="M20.9896 6.24125C20.1301 5.21179 19.1507 4.66231 18.0812 4.59132C17.2918 4.54132 16.5923 4.76131 16.0523 5.0208C15.7628 4.78131 14.7524 4.07084 13.5524 4.40132C13.6773 4.15385 13.8316 3.92235 14.0119 3.71185C14.04 3.68878 14.0626 3.65978 14.0782 3.62693C14.0937 3.59409 14.1018 3.55821 14.1019 3.52186C14.0981 3.45899 14.0735 3.39918 14.0319 3.35187C14.0102 3.32359 13.9832 3.29981 13.9524 3.28187C13.5224 2.86239 12.5525 2.41241 11.4135 3.19188C11.3913 3.20163 11.371 3.21517 11.3535 3.23187C11.3288 3.24648 11.3081 3.26712 11.2935 3.29187C11.2897 3.2958 11.2868 3.30054 11.2851 3.30573C11.2834 3.31092 11.2828 3.31644 11.2835 3.32187C11.2635 3.34361 11.2527 3.37231 11.2535 3.40187V3.44186C11.2435 3.53186 11.2135 3.95184 11.1135 4.49182C9.59458 3.75235 8.12564 4.9213 7.92565 5.0813C6.8362 4.53132 4.93728 4.06184 3.12585 5.97076C3.09585 5.98076 3.07585 6.01076 3.04585 6.04076C1.24093 7.99967 0.231471 13.1375 1.69041 16.5653C2.37038 18.2042 3.90932 20.1432 7.31718 20.2432C7.76716 20.6531 8.28664 20.9831 8.88661 21.1326C9.86607 21.3826 10.8865 21.1026 11.905 20.3032C12.2645 20.6031 13.1839 21.2326 14.3134 21.2326C14.518 21.232 14.7221 21.2119 14.9229 21.1726C15.5028 21.0531 16.0423 20.7531 16.5323 20.2832C16.7528 20.3263 16.9771 20.3465 17.2018 20.3432C18.1712 20.3432 19.8517 20.0037 21.3196 18.0048C21.3386 17.9852 21.3524 17.9611 21.3596 17.9348C23.4385 15.0364 23.799 9.55961 20.9896 6.24125ZM13.4439 3.51286C13.0044 3.83285 12.6145 3.97234 12.3145 3.89285C12.085 3.83285 11.925 3.65286 11.845 3.52286C12.5845 3.08288 13.1639 3.32287 13.4439 3.51286ZM12.5645 9.05963C12.3382 9.1093 12.1064 9.12946 11.875 9.11963C11.4235 9.10276 10.9793 9.00099 10.5655 8.81964C11.185 8.44016 12.0545 7.3807 12.5345 4.42232C12.6979 4.41485 12.8594 4.38456 13.0144 4.33233C12.5745 5.18229 12.2345 6.27125 12.0145 7.17071C11.805 8.09967 12.1645 8.71964 12.5645 9.05963ZM11.685 4.11234C11.7894 4.20833 11.9115 4.28305 12.0445 4.33233C11.4445 8.03217 10.2446 8.46016 9.96607 8.50015C9.80607 8.40016 9.67608 8.30016 9.55608 8.21017C9.80937 8.15517 10.0437 8.03446 10.2356 7.86018C11.195 7.03072 11.555 5.13179 11.685 4.11234ZM20.9096 17.7048C19.4307 19.7337 17.7217 19.8837 16.9518 19.8237C17.4118 19.2737 17.8212 18.5642 18.1812 17.7048C18.1944 17.6746 18.2014 17.6421 18.202 17.6092C18.2026 17.5763 18.1967 17.5436 18.1846 17.513C18.1726 17.4824 18.1546 17.4545 18.1318 17.4308C18.1089 17.4071 18.0816 17.3882 18.0515 17.375C18.0213 17.3619 17.9888 17.3548 17.956 17.3543C17.9231 17.3537 17.8904 17.3596 17.8597 17.3716C17.8291 17.3837 17.8012 17.4016 17.7775 17.4245C17.7538 17.4473 17.7349 17.4746 17.7217 17.5048C17.2818 18.5342 16.7923 19.3237 16.2423 19.8547C15.8028 20.2942 15.3328 20.5642 14.8234 20.6741C13.3639 20.9841 12.0945 19.8047 12.085 19.7947C12.0391 19.7523 11.9793 19.7279 11.9169 19.726C11.8544 19.7242 11.7933 19.745 11.745 19.7847C10.795 20.5742 9.87607 20.8741 9.01661 20.6441C8.48663 20.5142 8.01665 20.1942 7.61666 19.8147C6.60721 18.8552 6.04773 17.4648 6.03773 17.4458C6.0169 17.3992 5.98331 17.3594 5.94084 17.3311C5.89837 17.3028 5.84876 17.2871 5.79774 17.2858C5.76687 17.2876 5.73649 17.2944 5.70774 17.3058C5.64462 17.3303 5.5936 17.3786 5.56558 17.4402C5.53755 17.5019 5.53474 17.5721 5.55775 17.6358C5.58775 17.7058 6.01773 18.7652 6.8172 19.7147C4.59979 19.4937 2.98986 18.3442 2.14989 16.3753C0.699952 12.9495 1.8999 8.03017 3.41984 6.38124C5.84974 3.75285 8.40663 5.94976 8.50663 6.04976C8.53124 6.07379 8.56047 6.0926 8.59255 6.10505C8.62463 6.11749 8.65889 6.12332 8.69328 6.12217C8.72767 6.12102 8.76147 6.11293 8.79265 6.09837C8.82383 6.08381 8.85174 6.0631 8.87469 6.03747C8.89765 6.01184 8.91519 5.98184 8.92624 5.94925C8.9373 5.91667 8.94165 5.88219 8.93902 5.84788C8.9364 5.81357 8.92686 5.78015 8.91098 5.74963C8.8951 5.7191 8.8732 5.69211 8.84661 5.67027C8.71036 5.55441 8.56673 5.44753 8.41663 5.35029C8.82661 5.0603 9.91657 4.42082 10.9665 4.9803C10.9848 4.99139 11.0053 4.99823 11.0265 5.0003C10.8365 5.90976 10.4965 6.95922 9.90707 7.4692C9.65708 7.68919 9.37709 7.78868 9.0776 7.75918H9.04761C9.04655 7.7516 9.04304 7.74458 9.03761 7.73918C9.0039 7.70001 8.95887 7.67224 8.90873 7.6597C8.85859 7.64717 8.8058 7.65048 8.75762 7.66919C8.7277 7.67997 8.70042 7.69702 8.67762 7.71919C8.62906 7.76535 8.59994 7.82831 8.59623 7.89521C8.59251 7.96211 8.61447 8.02791 8.65762 8.07917C8.9799 8.42668 9.35032 8.72621 9.75758 8.96863C10.3076 9.30862 11.027 9.60861 11.8665 9.62861H11.9565C13.0954 9.62861 14.1849 9.09863 15.1943 8.05917C15.2388 8.01115 15.2627 7.94758 15.2609 7.88214C15.259 7.81669 15.2315 7.75459 15.1844 7.70919C15.1608 7.68556 15.1327 7.66681 15.1019 7.65402C15.0711 7.64123 15.038 7.63465 15.0046 7.63465C14.9712 7.63465 14.9382 7.64123 14.9073 7.65402C14.8765 7.66681 14.8485 7.68556 14.8249 7.70919C14.7549 7.77918 14.6749 7.85918 14.6049 7.91918C14.4449 7.89918 13.9254 7.79918 13.4654 7.2897C13.1454 6.93972 13.6354 6.18025 13.6354 6.17025C13.6725 6.11456 13.6859 6.04642 13.6727 5.98083C13.6595 5.91525 13.6209 5.85758 13.5652 5.82052C13.5095 5.78345 13.4413 5.77003 13.3758 5.78321C13.3102 5.79638 13.2525 5.83507 13.2154 5.89076C13.1854 5.93026 12.506 6.99072 13.0954 7.64069C13.3819 7.95025 13.7383 8.18667 14.1349 8.33016C13.8516 8.5496 13.5387 8.72786 13.2054 8.85964C13.0554 8.80964 12.246 8.42016 12.516 7.2907C12.6922 6.52498 12.9324 5.77539 13.2339 5.0498H13.2439C14.2334 4.53032 15.1439 4.9998 15.5528 5.28979C15.354 5.409 15.1666 5.54624 14.9929 5.69977C14.9686 5.7227 14.949 5.75019 14.9354 5.78068C14.9217 5.81116 14.9142 5.84405 14.9133 5.87744C14.9124 5.91083 14.918 5.94408 14.93 5.97528C14.9419 6.00648 14.9599 6.03501 14.9829 6.05926C15.0041 6.08425 15.0301 6.10468 15.0595 6.11929C15.0888 6.13391 15.1208 6.14241 15.1536 6.14428C15.1863 6.14615 15.2191 6.14135 15.2499 6.13017C15.2807 6.11899 15.3089 6.10167 15.3328 6.07925C15.3528 6.06925 16.5423 4.9998 18.0512 5.0898C18.9807 5.14979 19.8402 5.64977 20.6101 6.55923C23.2785 9.7391 22.9085 14.9864 20.9096 17.7048Z"
                                fill="pink"/>
                        <path
                                d="M5.32378 10.6407C5.31546 10.6412 5.30711 10.6412 5.29878 10.6407C5.23194 10.634 5.17048 10.6011 5.12784 10.5492C5.08521 10.4973 5.06487 10.4306 5.07129 10.3637C5.23979 8.68028 7.5547 7.14034 7.65269 7.07585C7.68044 7.05621 7.71185 7.04235 7.74506 7.03509C7.77827 7.02784 7.81259 7.02734 7.846 7.03362C7.87941 7.0399 7.91121 7.05283 7.93951 7.07165C7.96782 7.09047 7.99205 7.11479 8.01077 7.14317C8.02948 7.17155 8.0423 7.2034 8.04846 7.23682C8.05462 7.27025 8.05399 7.30458 8.04661 7.33776C8.03923 7.37094 8.02525 7.4023 8.00551 7.42997C7.98577 7.45764 7.96066 7.48106 7.93168 7.49883C7.90918 7.51333 5.72027 8.97126 5.57577 10.4142C5.56911 10.4764 5.53969 10.5339 5.49318 10.5757C5.44666 10.6175 5.38633 10.6407 5.32378 10.6407Z"
                                fill="pink"/>
                        <path
                                d="M18.5533 10.6403C18.4904 10.6403 18.4298 10.617 18.3832 10.5749C18.3366 10.5327 18.3072 10.4748 18.3008 10.4123C18.1568 8.96941 15.9679 7.51247 15.9449 7.49697C15.8912 7.45896 15.8544 7.40157 15.8422 7.33692C15.83 7.27227 15.8435 7.20542 15.8797 7.15051C15.9159 7.0956 15.9721 7.05691 16.0363 7.04263C16.1005 7.02836 16.1678 7.0396 16.2238 7.07399C16.3238 7.13849 18.6373 8.67842 18.8052 10.3618C18.8118 10.4287 18.7915 10.4955 18.7489 10.5474C18.7062 10.5994 18.6446 10.6323 18.5778 10.6388C18.5696 10.6398 18.5614 10.6403 18.5533 10.6403Z"
                                fill="pink"/>
                        <path
                                d="M9.84961 13.393C9.80471 13.3934 9.76053 13.3816 9.72174 13.359C9.68294 13.3364 9.65095 13.3037 9.62912 13.2645C9.36364 12.8517 8.95351 12.553 8.47917 12.427C7.7997 12.254 7.00774 12.4515 6.12327 13.0075C6.08237 13.0331 6.03502 13.0465 5.98677 13.0461C5.93853 13.0457 5.89139 13.0315 5.85092 13.0053C5.81044 12.979 5.77829 12.9418 5.75825 12.8979C5.73821 12.854 5.73111 12.8053 5.73779 12.7575C5.75229 12.6575 6.10628 10.2601 7.9512 10.2601C9.70762 10.2601 10.1011 12.393 10.1011 13.1405C10.1008 13.1963 10.0822 13.2505 10.048 13.2946C10.0138 13.3387 9.96607 13.3703 9.91211 13.3845C9.89176 13.3901 9.87073 13.393 9.84961 13.393ZM7.98419 11.8601C8.19632 11.8597 8.40765 11.886 8.61317 11.9386C8.92829 12.0198 9.22348 12.1646 9.48063 12.364C9.31364 11.6716 8.91215 10.7671 7.9507 10.7671C7.00974 10.7671 6.56376 11.6761 6.37026 12.287C6.93991 12.0031 7.47788 11.8607 7.98419 11.8601Z"
                                fill="pink"/>
                        <path
                                d="M14.0274 13.3932C14.0057 13.3935 13.9839 13.3908 13.9629 13.3852C13.909 13.3709 13.8613 13.3393 13.8271 13.2952C13.793 13.2511 13.7743 13.197 13.7739 13.1412C13.7739 12.3938 14.1699 10.2608 15.9263 10.2608C17.7708 10.2608 18.1262 12.6562 18.1397 12.7582C18.1463 12.806 18.1391 12.8547 18.119 12.8986C18.0989 12.9424 18.0667 12.9796 18.0262 13.0059C17.9857 13.0321 17.9386 13.0462 17.8903 13.0467C17.8421 13.0471 17.7947 13.0338 17.7538 13.0082C16.8698 12.4498 16.0773 12.2553 15.3994 12.4273C14.925 12.5533 14.5149 12.8519 14.2494 13.2647C14.2275 13.3042 14.1952 13.337 14.1561 13.3596C14.1171 13.3822 14.0726 13.3939 14.0274 13.3932ZM15.9273 10.7673C14.9659 10.7673 14.5644 11.6718 14.3974 12.3643C14.6544 12.1648 14.9494 12.02 15.2644 11.9388C15.9403 11.7648 16.6918 11.8813 17.5068 12.2888C17.3108 11.6758 16.8628 10.7673 15.9263 10.7673H15.9273Z"
                                fill="pink"/>
                        <path
                                d="M12.9194 17.6989C12.8604 17.6988 12.8032 17.6783 12.7574 17.6409L11.9575 16.9729L11.0715 17.5904C11.0236 17.6245 10.9652 17.6405 10.9065 17.6358C10.8479 17.631 10.7929 17.6058 10.751 17.5644L9.82157 16.6644L8.84961 17.3074C8.80154 17.3396 8.74391 17.3542 8.68633 17.3491C8.62874 17.3439 8.57467 17.3191 8.53312 17.2789L7.62716 16.399L6.5897 16.9989C6.55716 17.0175 6.52092 17.0287 6.48357 17.0317C6.44622 17.0346 6.40867 17.0293 6.37361 17.0161C6.33855 17.0028 6.30685 16.982 6.28077 16.9551C6.25468 16.9282 6.23486 16.8959 6.22271 16.8604L5.30475 14.1395C5.285 14.0807 5.28751 14.0167 5.3118 13.9596C5.33609 13.9025 5.38047 13.8563 5.43655 13.8298C5.49262 13.8032 5.55649 13.7981 5.61606 13.8155C5.67562 13.8329 5.72674 13.8715 5.75973 13.9241L6.40371 14.9535L7.41666 14.174C7.46603 14.1352 7.52821 14.1163 7.59084 14.1212C7.65346 14.1262 7.71195 14.1545 7.75465 14.2005L8.77461 15.276L9.89306 14.4845C9.94414 14.4482 10.0069 14.4321 10.0692 14.4394C10.1314 14.4467 10.1888 14.4769 10.23 14.524L10.9415 15.337L11.5735 14.73C11.613 14.6925 11.6634 14.6688 11.7175 14.6622C11.7715 14.6556 11.8262 14.6666 11.8735 14.6935L12.9494 15.3125L13.6369 14.44C13.6753 14.391 13.7306 14.3578 13.7919 14.347C13.8533 14.3362 13.9165 14.3485 13.9694 14.3815L15.2143 15.156L15.9913 14.299C16.0309 14.2557 16.0842 14.2274 16.1422 14.2189C16.2003 14.2104 16.2595 14.2223 16.3098 14.2525L17.4597 14.949L18.1492 13.8881C18.1838 13.8364 18.2359 13.799 18.296 13.7828C18.356 13.7666 18.4198 13.7727 18.4757 13.8001C18.5313 13.8282 18.5746 13.8758 18.5973 13.9338C18.6201 13.9918 18.6208 14.0561 18.5992 14.1145L17.5862 16.8364C17.5738 16.8709 17.5539 16.9022 17.5279 16.9281C17.502 16.9541 17.4707 16.974 17.4362 16.9864C17.4018 16.9988 17.365 17.0036 17.3285 17.0005C17.292 16.9974 17.2566 16.9865 17.2248 16.9684L16.2218 16.399L15.3773 17.2439C15.3358 17.2851 15.2814 17.3107 15.2233 17.3165C15.1651 17.3224 15.1067 17.308 15.0578 17.2759L14.0914 16.631L13.0994 17.6239C13.076 17.6478 13.048 17.6668 13.017 17.6797C12.9861 17.6926 12.9529 17.6991 12.9194 17.6989ZM11.9695 16.399C12.0286 16.399 12.0859 16.4197 12.1315 16.4575L12.9029 17.1009L13.8794 16.125C13.9208 16.0836 13.9752 16.0578 14.0335 16.0521C14.0918 16.0463 14.1502 16.0609 14.1989 16.0935L15.1653 16.7379L15.9993 15.905C16.0385 15.866 16.0894 15.8409 16.1441 15.8335C16.1989 15.826 16.2546 15.8365 16.3028 15.8635L17.2158 16.3815L17.5262 15.546C17.4846 15.5439 17.4442 15.5314 17.4088 15.5095L16.2268 14.794L15.4493 15.6525C15.4092 15.696 15.3552 15.7242 15.2966 15.7323C15.2379 15.7405 15.1783 15.728 15.1278 15.697L13.8959 14.9305L13.2134 15.799C13.1758 15.8469 13.1223 15.8797 13.0625 15.8913C13.0027 15.903 12.9408 15.8928 12.8879 15.8625L11.788 15.2295L11.0995 15.887C11.0479 15.932 10.982 15.957 10.9135 15.9575C10.8793 15.9558 10.8458 15.9473 10.8149 15.9326C10.784 15.9178 10.7563 15.897 10.7335 15.8715L9.99956 15.0295L8.8886 15.816C8.8389 15.8514 8.77803 15.8677 8.71727 15.8617C8.6565 15.8557 8.59996 15.8279 8.55812 15.7835L7.54466 14.715L6.4912 15.525C6.44272 15.5594 6.38467 15.5778 6.32521 15.5775L6.6047 16.4065L7.53966 15.8645C7.58733 15.8371 7.64261 15.8259 7.69717 15.8327C7.75173 15.8394 7.80261 15.8638 7.84215 15.902L8.74211 16.7724L9.71157 16.1265C9.75976 16.0947 9.81731 16.0802 9.87479 16.0854C9.93228 16.0906 9.98632 16.1151 10.0281 16.155L10.955 17.0549L11.828 16.4465C11.8693 16.4165 11.9189 16.3999 11.97 16.399H11.9695Z"
                                fill="pink"/>
                        <path
                                d="M14.1034 3.52326C14.0996 3.4604 14.075 3.40059 14.0334 3.35327H14.0434C14.0822 3.40145 14.1033 3.46142 14.1034 3.52326Z"
                                fill="pink"/>
                        </svg>
                        Cancel Event
                    </button>

                    {#                    <input name="{{ event.id }}" type="button" value="Cancel event" id="cancelButton"> #}

                {% endif %}
            </div>

            {#                <a href="{{ path('_registerForEvent', {'event': event.id}) }}"> #}
            {#                    <input type="button" #}
            {#                           value="{% if not event.Users.contains(user) %} Subscribe to event {% else %} Unsubscribe to event {% endif %}"> #}
            {#                </a> #}

        {% endfor %}

        {#        {% for c in campus %} #}
        {#            <input name="{{ event.c.name }}" type="button" value="Sort By Name" id="sortByName"> #}
        {#        {% endfor %} #}


        {#        <div> #}
        {#            <input name="lienCampus" type="button" value="Sort By Campus" id="SortByCampus" > #}
        {#        </div> #}


        {#        <div> #}
        {#            <select name="Campus" id="Campus"> #}

        {#                <optgroup label="Choose Your Campus"> #}
        {#                    {% for c in campusFilter %} #}
        {#                        <option value="{{ c.id }}">{{ c.name }}</option> #}
        {#                    {% endfor %} #}
        {#            </select> #}
        {#        </div> #}


    </div>


{% endblock %}


 {% block javascripts %}
     <script src="{{ asset('js/campus.js') }}" defer></script>
 {% endblock %}
