{% extends 'base.html.twig' %}



{% block title %}
    <h1>Liste of events</h1>
{% endblock %}

{% block body %}

    <div class="contentName">

        {% set arrayHeader = ["Name", "Status","Place"," Date of the event"," Registered ","Deadline for subscription","Campus","Actions"] %}
        {% for value in arrayHeader %}
            <div style="grid-column: {{ loop.index }}; grid-row: 1">

                {{ value }}
            </div>

        {% endfor %}

        {% for event in events %}

            {#                name #}
            <div class="nameContent" style="grid-row:{{ loop.index +1 }}">
                <a href="{{ path('_detail',  {'event': event.id}) }}">{{ event.title }} </a>
            </div>

            {#                place #}
            <div class="placeContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.users.count }}/{{ event.nbMaxInsc }}
            </div>

            {# status  #}
            <div class="statusContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.status.name }}
            </div>
            {#                dateD #}
            <div class="dateDContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.dateD |  date('Y-m-d h:m') }}
            </div>
            {#                Registerd #}
            <div class="registeredContent" style="grid-row:{{ loop.index +1 }}">

            </div>
            {#                deadline #}
            <div class="deadlineContent" style="grid-row:{{ loop.index +1 }}">
                {{ event.limiteDate|  date('Y-m-d h:m') }}
            </div>
            {# campus #}
            <div class="campusContent" style="grid-row:{{ loop.index +1 }}">
                <a href="{{ path('_tri', {'campus': event.campus.id}) }}">{{ event.campus.name }}</a>
            </div>
            {#                actions #}
            <div class="actionsContent" style="grid-row:{{ loop.index +1 }}">

                {% if event.dateD > "now" | date('Y-m-d') and event.status.name is same as ("Open") and event.organizer is not same as (user) %}

                    {% if event.Users.contains(user) %}

                        <a href="{{ path('_unRegisterForEvent', {'event': event.id}) }}">
                            <input type="button" value="Unsubscribe to event"></a>

                    {% endif %}

                    {% if event.NbMaxInsc > event.Users.count and not event.Users.contains(user) and event.LimiteDate > "now"| date('Y-m-d') %}

                        <a href="{{ path('_registerForEvent', {'event': event.id}) }}">
                            <input type="button" value="Subscribe to event"></a>
                    {% endif %}

                {% endif %}
            </div>

            <div class="cancelButton" style="grid-row:{{ loop.index +1 }}">
                {% if event.organizer is same as (user) and event.status.name is same as ("Open") %}

                    <input name="{{ event.id }}" type="button" value="Cancel event" id="cancelButton">

                {% endif %}
            </div>

            {#                <a href="{{ path('_registerForEvent', {'event': event.id}) }}"> #}
            {#                    <input type="button" #}
            {#                           value="{% if not event.Users.contains(user) %} Subscribe to event {% else %} Unsubscribe to event {% endif %}"> #}
            {#                </a> #}

        {% endfor %}

        {#        {% for c in campus %} #}

        {#            <input name="{{ event.c.name }}" type="button" value="Sort By Name" id="sortByName"> #}

        {#        {% endfor %} #}


        {#        <div> #}

        {#            <input name="lienCampus" type="button" value="Sort By Campus" id="SortByCampus" > #}

        {#        </div> #}


{#        <div>#}
{#            <select name="Campus" id="Campus">#}
{#                {% for event in events %}#}
{#                    <option value="{{ event.campus.id }}">{{ event.campus.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}


        <div>
            <select name="Campus" id="Campus">

            <optgroup label="Choose Your Campus" >
                {% for c in campusFilter %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>




    </div>


{% endblock %}


    {% block javascripts %}
        <script src="{{ asset('js/campus.js') }}" defer></script>
    {% endblock %}
